<!DOCTYPE html>



<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="loginPage">

        <title>Login Page</title>

        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="../css/login.css" type="text/css">

        <script src="../js/login.js"></script>

    </head>

    <body>
        
        <nav id="nav">

            <div class="navTop">

                <div class="navItem">
                    <a href="index.html">
                        <img src="../img/logo.png" alt="Logo">
                    </a>
                </div>

                <div class="navItem">

                    <div class="search">
                        <input type="text" placeholder="Search..." class="searchInput">
                        <img src="../img/search.png" width="20" height="20" alt="" class="searchIcon">
                    </div>

                </div>

                <div class="navItem">
                    <img src="../img/shoppingcart.png" alt="cart" class="shoppingcart">
                </div>

            </div>

            <div class="navBottom">
                <h3 class="menuItem"><a href="tshirts.html" class="menuLink">SHIRTS</a></h3>
                <h3 class="menuItem"><a href="shorts.html" class="menuLink">SHORTS</a></h3>
                <h3 class="menuItem"><a href="hoodies.html" class="menuLink">HOODIES</a></h3>
                <h3 class="menuItem"><a href="sweatpants.html" class="menuLink">SWEATPANTS</a></h3>
            </div>

        </nav>

        <!-- =============================================
             =========== Login Information ===============
             =============================================
            -->
        <div class="loginContainer">

            <h2>Login</h2>

            <img src="../img/represent.jpg" class="loginImg">

            <form action="/database/submit" method="POST" name="loginForm" class="loginForm">

                <label>Username:</label>
                <input type="text" id="username" name="username" class="username">
                <br><br>

                <label>Password:</label>
                <input type="password" id="password" name="password" class="password">
                <br><br>

                <!--input type="button" onclick="takeLoginInfo()" id="loginBtn" value="Login"-->
                <button type="submit">Submit</button>

            </form>

        </div>
        <br><br>

        <p id="output"></p>


        <footer>
            <div class="footerLeft">
                <div class="footerMenu">
                    <h1 class="fMenuTitle">About Us</h1>
                    <ul class="fList">
                        <li class="fListItem">Company</li>
                        <li class="fListItem">Contact</li>
                        <li class="fListItem">Careers</li>
                        <li class="fListItem">Affiliates</li>
                        <li class="fListItem">Stores</li>
                    </ul>
                </div>
                <div class="footerMenu">
                    <h1 class="fMenuTitle">Useful Links</h1>
                    <ul class="fList">
                        <li class="fListItem">Support</li>
                        <li class="fListItem">Refund</li>
                        <li class="fListItem">FAQ</li>
                        <li class="fListItem">Feedback</li>
                        <li class="fListItem">Stories</li>
                    </ul>
                </div>
                <div class="footerMenu">
                    <h1 class="fMenuTitle">Products</h1>
                    <ul class="fList">
                        <li class="fListItem">SHIRTS</li>
                        <li class="fListItem">SHORTS</li>
                        <li class="fListItem">HOODIES</li>
                        <li class="fListItem">SWEATPANTS</li>
                    </ul>
                </div>
            </div>
            <div class="footerRight">
                <div class="footerRightMenu">
                    <h1 class="fMenuTitle">Subscribe to our newsletter</h1>
                    <div class="fMail">
                        <input type="text" placeholder="your@email.com" class="fInput">
                        <button class="fButton">Join!</button>
                    </div>
                </div>
                <div class="footerRightMenu">
                    <h1 class="fMenuTitle">Follow Us</h1>
                    <div class="fIcons">
                        <img src="../img/facebook.png" alt="" class="fIcon">
                        <img src="../img/twitter.png" alt="" class="fIcon">
                        <img src="../img/instagram.png" alt="" class="fIcon">
                        <img src="../img/whatsapp.png" alt="" class="fIcon">
                    </div>
                </div>
                <div class="footerRightMenu">
                    <span class="copyright"> All rights reserved. 2024.</span>
                </div>
            </div>
        </footer>

    </body>

</html>
